.profile-wrapper {
    align-content: center;
    text-align: center;
    width: 20%;
}

.profile-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    margin-bottom: 2vh;
}

button {
    border-radius: 4px;
    border: 2px solid lightsalmon;
    background-color: white;
    font-size: 3vh;
}